body {
    margin: 0;
    overflow: hidden;
}

#slider {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 90%
}

#blocker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'MuseoModerno', cursive;
    background: #33333399;
    color: #fff;
    font-size: 32px;
    z-index: 1;
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-family: 'MuseoModerno', cursive;
    display: flex;
    justify-content: center;
    white-space: normal;

    z-index: 1;
}

#info b {
    color: navajowhite;
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'MuseoModerno', cursive;
    border-radius: 1rem;
    padding: 10px 20px 10px 20px;
    background: darkkhaki;
    color: #fff;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}
